@{
    ViewData["Title"] = "Technician";
}
@model List<SportsPro.Models.Technician>
<div>
    <h1>Technician Manager</h1>
    <table class="table table-striped table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var technician in Model)
            {
                <tr>
                    <td>@technician.Name</td>
                    <td>@technician.Email</td>
                    <td>@technician.Phone</td>
                    <td><a asp-controller="Technician" asp-action="Edit" asp-route-id="@technician.TechnicianID" class="btn btn-primary" role="button">Edit</a></td>
                    <td><a asp-controller="Technician" asp-action="Delete" asp-route-id="@technician.TechnicianID" class="btn btn-primary" role="button">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Technician" asp-action="Create" class="btn btn-primary" role="button">Create</a>


</div>
